html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body{
    font-family: 'Open Sans', 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #f2f2f2;
    color: #6b6b6b;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    word-spacing: 3px;
    letter-spacing: 0.5px;
}

.container{
    position: relative;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    text-align: left;
    background-color: #ffffff;
}

.main-content{
    padding: 20px;
    padding-bottom: 170px;
}

.main-content img{
    width: 100%;
    padding-right: 10px;
}

.main-content pre{
    white-space: pre-wrap;
}

.main-content i{
    font-size: 12px;
}

pre{
    display: block;
    background-color: #f7f7f7;
    padding: 10px;
}

h1{
    border-bottom: 1px solid #c2c2c2;
    text-align: left;
}

h2{
    border-bottom: 1px solid #c2c2c2;   
}

h3{
    margin-bottom:0px;
}

p{
    padding-bottom: 10px;
}

.footer{
    position: absolute;
    bottom: 0;
    background-color: #000000;
    width: 100%;
    height: 150px;
    padding: 10px 0px 0px 0px;
    text-align: center;
    color: #c2c2c2;
    border-top: 4px solid #f2f2f2;
    font-size: 12px;
}

.footer a{
    padding: 10px;
    color: #c2c2c2;
}

.footer img{
    padding-top: 10px;
}

.footer-icons img{
    padding-right: 10px;
    padding-left: 10px;
}

#hello_text{
    padding-bottom: 10px;
}